html {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    touch-action: none;
}

body {
    background-color: black;
}

#renderCanvas {
    width: min(90vw, 90vh);
    height: min(90vw, 90vh);
    position: fixed;
    left: calc((100vw - min(90vw, 90vh)) * 0.5);
    top: calc((100vh - min(90vw, 90vh)) * 0.5);
    outline: none;
    border: 1px solid white;
}